.version.index /* version checker */
{
	color: #0000FC;
	background-color: #1E3EC3;
}

.html
{
	background-color: #F1EDC2;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 521.9999999999995px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #F1EDC2;
	background-color: #F1EDC2;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -1px;
}

#page_position_content
{
	margin-top: -1px;
	padding-bottom: 84px;
	width: 0.01px;
}

#pu1165
{
	width: 0.01px;
	margin-left: -100px;
}

#u1165,#u1165-bw
{
	z-index: 2;
	height: 144px;
}

#slideshowu500
{
	z-index: 3;
	width: 0.01px;
	height: 414px;
	position: relative;
	margin-right: -10000px;
	margin-top: 123px;
}

#u504
{
	position: absolute;
	width: 1200px;
	height: 414px;
	background-color: transparent;
}

#u504popup
{
	z-index: 4;
}

#u505
{
	z-index: 5;
	width: 1200px;
	height: 414px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u570
{
	z-index: 7;
	width: 1200px;
	height: 414px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u579
{
	z-index: 9;
	width: 1200px;
	height: 414px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u588
{
	z-index: 11;
	width: 1200px;
	height: 414px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u512-4
{
	position: absolute;
	display: block;
	vertical-align: top;
	top: 161px;
	left: 120px;
}

#u512-4popup
{
	z-index: 13;
}

#u501-4
{
	position: absolute;
	display: block;
	vertical-align: top;
	top: 187px;
	left: 1050px;
}

#u501-4popup
{
	z-index: 17;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u935
{
	z-index: 21;
	width: 935px;
	margin-right: -10000px;
	margin-top: 123px;
	left: 132px;
}

#u1010
{
	z-index: 23;
	width: 935px;
	margin-right: -10000px;
	margin-top: 133px;
	left: 132px;
}

#menuu891
{
	z-index: 24;
	width: 935px;
	margin-bottom: -9px;
	margin-right: -10000px;
	margin-top: -10px;
	left: -1px;
}

#u899
{
	width: 154px;
	min-height: 42px;
	margin-right: -10000px;
}

#u900
{
	width: 152px;
	padding-bottom: 18px;
}

#u900:hover
{
	width: 152px;
	min-height: 0px;
	margin: 0px;
}

#u900:active
{
	width: 152px;
	min-height: 0px;
	margin: 0px;
}

#u892
{
	width: 154px;
	min-height: 42px;
	margin-right: -10000px;
	left: 156px;
}

#u893
{
	width: 152px;
	padding-bottom: 18px;
}

#u900.MuseMenuActive,#u893:hover
{
	width: 152px;
	min-height: 0px;
	margin: 0px;
}

#u893:active
{
	width: 152px;
	min-height: 0px;
	margin: 0px;
}

#u896
{
	z-index: 37;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 13px;
	left: 138px;
}

#u893:hover #u896
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u893:active #u896
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u897
{
	width: 156px;
	top: 42px;
}

#u1090
{
	width: 154px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u1090:hover
{
	width: 154px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1092-4_clip
{
	width: 150px;
	height: 21px;
}

#u898,#u1089,#u1101
{
	width: 156px;
}

#u1102
{
	width: 154px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u1090.MuseMenuActive,#u1102:hover
{
	width: 154px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1102.MuseMenuActive
{
	width: 154px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1105-4_clip
{
	width: 135px;
	height: 21px;
}

#u1092-4,#u1105-4
{
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u1104
{
	z-index: 52;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 6px;
	left: 138px;
}

#u893.MuseMenuActive #u896,#u1102:hover #u1104
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1106
{
	width: 156px;
	left: 156px;
}

#u1438
{
	width: 152px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u1438:hover
{
	width: 152px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1439-4
{
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u1109
{
	width: 152px;
	padding-bottom: 10px;
	margin-right: -10000px;
}

#u1438.MuseMenuActive,#u1109:hover
{
	width: 152px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1121
{
	width: 152px;
	padding-bottom: 21px;
	margin-right: -10000px;
}

#u1109.MuseMenuActive,#u1121:hover
{
	width: 152px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1130
{
	width: 152px;
	padding-bottom: 20px;
	margin-right: -10000px;
}

#u1121.MuseMenuActive,#u1130:hover
{
	width: 152px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1107,#u1437,#u1108,#u1120,#u1127,#u1134
{
	width: 154px;
}

#u1135
{
	width: 152px;
	padding-bottom: 10px;
	margin-right: -10000px;
}

#u1130.MuseMenuActive,#u1135:hover
{
	width: 152px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1135.MuseMenuActive
{
	width: 152px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1439-4_clip,#u1111-4_clip,#u1124-4_clip,#u1132-4_clip,#u1138-4_clip
{
	width: 148px;
	height: 21px;
}

#u1111-4,#u1138-4
{
	margin-right: -10000px;
	top: 5px;
	left: 2px;
}

#u906
{
	width: 154px;
	min-height: 42px;
	margin-right: -10000px;
	left: 312px;
}

#u907
{
	width: 152px;
	padding-bottom: 18px;
}

#u893.MuseMenuActive,#u907:hover
{
	width: 152px;
	min-height: 0px;
	margin: 0px;
}

#u907:active
{
	width: 152px;
	min-height: 0px;
	margin: 0px;
}

#u913
{
	width: 154px;
	min-height: 42px;
	margin-right: -10000px;
	left: 468px;
}

#u916
{
	width: 152px;
	padding-bottom: 18px;
}

#u907.MuseMenuActive,#u916:hover
{
	width: 152px;
	min-height: 0px;
	margin: 0px;
}

#u916:active
{
	width: 152px;
	min-height: 0px;
	margin: 0px;
}

#u895-4_clip,#u918-4_clip
{
	width: 138px;
	height: 22px;
}

#u919
{
	z-index: 97;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 13px;
	left: 138px;
}

#u1102.MuseMenuActive #u1104,#u916:hover #u919
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u916:active #u919
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u916.MuseMenuActive #u919
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u914
{
	width: 155px;
	top: 42px;
}

#u1142
{
	width: 153px;
	padding-bottom: 20px;
	margin-right: -10000px;
}

#u1142:hover
{
	width: 153px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1124-4,#u1132-4,#u1144-4
{
	margin-right: -10000px;
	top: 10px;
	left: 2px;
}

#u915,#u1141,#u1151
{
	width: 155px;
}

#u1152
{
	width: 153px;
	padding-bottom: 18px;
	margin-right: -10000px;
}

#u1142.MuseMenuActive,#u1152:hover
{
	width: 153px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1152.MuseMenuActive
{
	width: 153px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1144-4_clip,#u1153-4_clip
{
	width: 149px;
	height: 21px;
}

#u1153-4
{
	margin-right: -10000px;
	top: 9px;
	left: 2px;
}

#u920
{
	width: 154px;
	min-height: 42px;
	margin-right: -10000px;
	left: 624px;
}

#u921
{
	width: 152px;
	padding-bottom: 18px;
}

#u916.MuseMenuActive,#u921:hover
{
	width: 152px;
	min-height: 0px;
	margin: 0px;
}

#u921:active
{
	width: 152px;
	min-height: 0px;
	margin: 0px;
}

#u921.MuseMenuActive
{
	width: 152px;
	min-height: 0px;
	margin: 0px;
}

#u903-4_clip,#u909-4_clip,#u922-4_clip
{
	width: 152px;
	height: 22px;
}

#u927
{
	width: 155px;
	min-height: 42px;
	margin-right: -10000px;
	left: 780px;
}

#u930
{
	width: 153px;
	padding-bottom: 18px;
}

#u930:hover
{
	width: 153px;
	min-height: 0px;
	margin: 0px;
}

#u930:active
{
	width: 153px;
	min-height: 0px;
	margin: 0px;
}

#u930.MuseMenuActive
{
	width: 153px;
	min-height: 0px;
	margin: 0px;
}

#u933-4_clip
{
	width: 153px;
	height: 22px;
}

#u903-4,#u895-4,#u909-4,#u918-4,#u922-4,#u933-4
{
	margin-right: -10000px;
	top: 9px;
}

#u1419
{
	z-index: 124;
	width: 960px;
	background-color: transparent;
	margin-left: 20px;
	position: relative;
}

#u1422-6
{
	z-index: 126;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 230px;
}

#u1421
{
	z-index: 125;
	width: 960px;
	background-color: transparent;
	margin-left: 20px;
	position: relative;
}

#u1423-6
{
	z-index: 132;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 230px;
}

#u1424
{
	z-index: 138;
	width: 960px;
	background-color: transparent;
	margin-left: 20px;
	position: relative;
}

#u1426-6
{
	z-index: 139;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 230px;
}

#u1427
{
	z-index: 145;
	width: 960px;
	height: 319px;
	margin-left: 20px;
	position: relative;
}

.ie #u1427
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

body
{
	position: relative;
	min-width: 1002px;
}

#page .verticalspacer
{
	clear: both;
}

